In [ ]:
#1. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. Go to the editor
"""

Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
Expected Output :
{'Black', 'White'}

"""

In [6]:
color_list1 = set(['Black','Red','White'])
color_list2 = set(['Red','Greeen'])

diff = color_list1 - color_list2

print(diff)

{'Black', 'White'}

In [2]:
#CONCEPT
"""

lst = set(['apple','guava','mango','pineapple'])
print(lst[1])

"""

TypeError: 'set' object is not subscriptable

In [ ]:
#2. Write a Python program that will accept the base and height of a triangle and compute the area

In [8]:
def area(base,height):
    print('Area of triangle having base {} and height {} is {}'.format(base,height,0.5 * base * height))
    
base = int (input ('Input the base of triangle: '))
height = int (input ('Input the height of triangle: '))

area(base,height)

Input the base of triangle: 20
Input the height of triangle: 40
Area of triangle having base 20 and height 40 is 400.0

In [ ]:
#CONCEPT
'''
A triangle is a polygon with three edges and three vertices. It is one of the basic shapes in geometry.
A triangle with vertices A, B, and C is denoted triangle ABC.

1.Vertex of a triangle: The point at which two sides of a triangle meet.

2.Altitude of a triangle: The perpendicular segment from a vertex of a triangle to the line containing the opposite side.

3.Base of a triangle: The side of a triangle to which an altitude is drawn.

4.Height of a triangle: The length of an altitude.

'''

In [ ]:
#3.Write a Python program to compute the greatest common divisor (GCD) of two positive integers

In [ ]:
#Method 2

def gcd(x, y):
    gcd = 1   
    if x % y == 0:
        return y
    elif y % x == 0:
        return x
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break 
    return gcd

num1 = int (input ('Input the first number : '))
num2 = int (input ('Input the second number : '))

print("GCD of {} and {} : {}".format(num1,num2,gcd(num1, num2) ) )

In [ ]:
#CONCEPT

'''
The greatest common divisor (GCD) of two nonzero integers a and b is the greatest positive integer d such that d is a divisor of
both a and b; that is, there are integers e and f such that a = de and b = df, and d is the largest such integer.
The GCD of a and b is generally denoted gcd(a, b).


say y = 10

for k in range(int(y / 2), 0, -1):
range(5,0-1)
range(#starts from 5,end when reach 0 , decrease by 1)
'''

In [ ]:
#4. Write a Python program to get the least common multiple (LCM) of two positive integers

In [1]:
def lcm(x, y):
    if x > y:
        z = x
    else:
        z = y
    while(True):
        if((z % x == 0) and (z % y == 0)):
            lcm = z
            break
        z += 1
    return lcm
print(abs(lcm(5, 2)))
print(abs(lcm(15, 17)))

10
255

In [ ]:
#5. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
lst = []
for i in range(2000,3200):
    if (i%7 == 0) and (i %5!=0):
        lst.append(str(i))
print(','.join(lst))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

#6. Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [1]:
def fact(num):
    '''
    This function returns the factorial of a number.
    
    '''
    if num == 1: #dactorial of 0 and 1 is 1
        return num;
    return num*fact(num-1)

num = int(input('Enter any mumber: '))

print('factorial of {} is {}'.format(num,fact(num)))

Enter any mumber: 5
factorial of 5 is 120

In [2]:
help(fact)

Help on function fact in module __main__:

fact(num)
    This function returns the factorial of a number.
    factorial of 0 and 1 is 1

#7. Question:

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [4]:
n = int(input())
dct = dict()
for i in range(1,n+1):
    dct[i] = i * i
print(dct)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#8. Question:

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [22]:

data = input()

data = data.split(',')

data = list(data)
print(data)

print(tuple(data))

6,9,9,0
['6', '9', '9', '0']
('6', '9', '9', '0')

In [21]:
string = 'my-name-is-malay'
string = string.split('-')
print(string)

['my', 'name', 'is', 'malay']

#9.Question:

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [37]:
import math


def output(X,lst,H): 
    result = []
    for i in range(len(lst)):
        result.append(str(int(round((math.sqrt((2 * C * float(lst[i]))/float(H)))))))
    return (','.join(result))
    
       
C = 50
H = 30

D = input()

D = D.split(',')

print(output(C,D,H))

100,150,180
18,22,24

#core concept of question
s = "1,2,3"
print(s)


#concept used and nearby concetpt **keylearning

**import math**
#1. math.floor(69.6) -> 69

#2. math.ceil(68.2) -> 69

#3. round(69.4) -> 69
#4. round(68.6) -> 69

string.split(',')

#5.
string = string.split(',') #split string into list of strings

#6. 
lst.append()
insert value to list

#7.
math.sqrt()
used to get squre root of any number

In [62]:
print(math.ceil(68.2))
print(math.floor(69.6))
print( round(69.4))
print(round(68.5))
print(round(68.6))

string = "malay,aman,ankush,rahul"
print(string.split(','))
print(type(string))

lst = ['apple','samsung']
lst.append('Nothing')
print(lst)

69
69
69
68
69
['malay', 'aman', 'ankush', 'rahul']
<class 'str'>
['apple', 'samsung', 'Nothing']

In [64]:
x = 16
y = math.sqrt(x)
print(y)

4.0

In [76]:
#VVI NOTE

lst = [2,4,6,8]

#NOW TO CONVERT THIS LST TO STRING

print(lst)
print(type(lst))

#output should be 2,4,6,8
print(','.join(lst))

[2, 4, 6, 8]
<class 'list'>

TypeError: sequence item 0: expected str instance, int found

here item are not in string datatype, so it's good practice to initialize with ''

In [77]:
lst = ['2','6','8','10']

print(lst)
print(','.join(lst))

['2', '6', '8', '10']
2,6,8,10

In [73]:
lst = [2,4.5,6,8,'malay']
print(lst)
print(type(lst))

[2, 4.5, 6, 8, 'malay']
<class 'list'>